USE [master]
GO
/****** Object:  Database [paises]    Script Date: 05/10/2018 16:06:55 ******/
CREATE DATABASE [paises]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'paises', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\paises.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'paises_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\paises_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [paises].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [paises]
GO
/****** Object:  Table [dbo].[cidade]    Script Date: 05/10/2018 16:06:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cidade](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nome] [varchar](250) NULL,
	[estado] [int] NULL,
 CONSTRAINT [PK_cidades] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[estado]    Script Date: 05/10/2018 16:06:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[estado](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nome] [varchar](150) NULL,
	[uf] [varchar](50) NULL,
	[pais] [int] NULL,
 CONSTRAINT [PK_estado] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[inscricao]    Script Date: 05/10/2018 16:06:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[inscricao](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nome] [varchar](50) NULL,
	[cpf] [varchar](20) NULL,
	[passaporte] [varchar](20) NULL,
	[email] [varchar](20) NULL,
	[telefone] [varchar](20) NULL,
	[celular] [varchar](20) NULL,
	[sexo] [varchar](1) NULL,
	[pais] [int] NULL,
	[estado] [int] NULL,
	[cidade] [int] NULL,
	[rua] [varchar](50) NULL,
	[numero] [varchar](10) NULL,
	[bairro] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pais]    Script Date: 05/10/2018 16:06:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pais](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nome] [varchar](150) NULL,
	[sigla] [varchar](50) NULL,
 CONSTRAINT [PK_pais] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[cidade] ON 

INSERT [dbo].[cidade] ([id], [nome], [estado]) VALUES (1, N'Afonso Cláudio', 8)
INSERT [dbo].[cidade] ([id], [nome], [estado]) VALUES (2, N'Água Doce do Norte', 8)
INSERT [dbo].[cidade] ([id], [nome], [estado]) VALUES (3, N'Águia Branca', 8)
GO
SET IDENTITY_INSERT [dbo].[cidade] OFF
SET IDENTITY_INSERT [dbo].[estado] ON 

INSERT [dbo].[estado] ([id], [nome], [uf], [pais]) VALUES (1, N'Acre', N'AC', 1)
INSERT [dbo].[estado] ([id], [nome], [uf], [pais]) VALUES (2, N'Alagoas', N'AL', 1)
INSERT [dbo].[estado] ([id], [nome], [uf], [pais]) VALUES (3, N'Amazonas', N'AM', 1)
SET IDENTITY_INSERT [dbo].[estado] OFF
SET IDENTITY_INSERT [dbo].[inscricao] ON 

INSERT [dbo].[inscricao] ([id], [nome], [cpf], [passaporte], [email], [telefone], [celular], [sexo], [pais], [estado], [cidade], [rua], [numero], [bairro]) VALUES (1, N'tes', N'6564', N'', N'664', N'3131313', N'26565', N'F', 1, 1, 79, N'werw', N'9we', N'ae')
INSERT [dbo].[inscricao] ([id], [nome], [cpf], [passaporte], [email], [telefone], [celular], [sexo], [pais], [estado], [cidade], [rua], [numero], [bairro]) VALUES (12, N'Maria', N' ', N'1313213213', N'wew@wer.com', N'321321', N'13213', N'F', 2, NULL, NULL, N' ', N' ', N' ')
INSERT [dbo].[inscricao] ([id], [nome], [cpf], [passaporte], [email], [telefone], [celular], [sexo], [pais], [estado], [cidade], [rua], [numero], [bairro]) VALUES (13, N'João', N' ', N'545', N'joa@er.com', N'654654', N'5646', N'M', 4, NULL, NULL, N' ', N' ', N' ')
SET IDENTITY_INSERT [dbo].[inscricao] OFF
SET IDENTITY_INSERT [dbo].[pais] ON 

INSERT [dbo].[pais] ([id], [nome], [sigla]) VALUES (1, N'Brasil', N'BR')
INSERT [dbo].[pais] ([id], [nome], [sigla]) VALUES (2, N'Estados Unidos', N'EUA')
INSERT [dbo].[pais] ([id], [nome], [sigla]) VALUES (3, N'Espanha', N'ESP')
SET IDENTITY_INSERT [dbo].[pais] OFF
ALTER TABLE [dbo].[inscricao] ADD  CONSTRAINT [DF_inscricao_nome]  DEFAULT (' ') FOR [nome]
GO
ALTER TABLE [dbo].[inscricao] ADD  CONSTRAINT [DF_inscricao_cpf]  DEFAULT (' ') FOR [cpf]
GO
ALTER TABLE [dbo].[inscricao] ADD  CONSTRAINT [DF_inscricao_passaporte]  DEFAULT (' ') FOR [passaporte]
GO
ALTER TABLE [dbo].[inscricao] ADD  CONSTRAINT [DF_inscricao_email]  DEFAULT (' ') FOR [email]
GO
ALTER TABLE [dbo].[inscricao] ADD  CONSTRAINT [DF_inscricao_telefone]  DEFAULT (' ') FOR [telefone]
GO
ALTER TABLE [dbo].[inscricao] ADD  CONSTRAINT [DF_inscricao_celular]  DEFAULT (' ') FOR [celular]
GO
ALTER TABLE [dbo].[inscricao] ADD  DEFAULT ('F') FOR [sexo]
GO
ALTER TABLE [dbo].[inscricao] ADD  DEFAULT ((1)) FOR [pais]
GO
ALTER TABLE [dbo].[inscricao] ADD  CONSTRAINT [DF_inscricao_rua]  DEFAULT (' ') FOR [rua]
GO
ALTER TABLE [dbo].[inscricao] ADD  CONSTRAINT [DF_inscricao_numero]  DEFAULT (' ') FOR [numero]
GO
ALTER TABLE [dbo].[inscricao] ADD  CONSTRAINT [DF_inscricao_bairro]  DEFAULT (' ') FOR [bairro]
GO
ALTER TABLE [dbo].[inscricao]  WITH CHECK ADD  CONSTRAINT [FK_Inscricao_Cidade] FOREIGN KEY([cidade])
REFERENCES [dbo].[cidade] ([id])
GO
ALTER TABLE [dbo].[inscricao] CHECK CONSTRAINT [FK_Inscricao_Cidade]
GO
ALTER TABLE [dbo].[inscricao]  WITH CHECK ADD  CONSTRAINT [FK_Inscricao_Estado] FOREIGN KEY([estado])
REFERENCES [dbo].[estado] ([id])
GO
ALTER TABLE [dbo].[inscricao] CHECK CONSTRAINT [FK_Inscricao_Estado]
GO
ALTER TABLE [dbo].[inscricao]  WITH CHECK ADD  CONSTRAINT [FK_Inscricao_Pais] FOREIGN KEY([pais])
REFERENCES [dbo].[pais] ([id])
GO
ALTER TABLE [dbo].[inscricao] CHECK CONSTRAINT [FK_Inscricao_Pais]
GO
USE [master]
GO
